/* main.css */

/* common */
body{font-size: 14px;font-family:'Noto Sans','Noto Sans KR',Helvetica,sans-serif;color:#333;}
a{text-decoration: none;color: #333;}
a:hover{text-decoration: none;color: #333;}

/* main_visual */
ul.slide_wrap{position: relative;width: 100%;min-width: 1360px;height: 810px;}
li.slide{opacity: 0; position: absolute;left: 0;top: 0;width: 100%;height: 100%; transition: opacity .5s  ease-in-out;}
li.slide.active{opacity: 1;z-index: 3;}
li.slide>video{width: 100%; height: 100%; object-fit: cover;}
li.slide>p{position: absolute;left: 50%;top: 200px;transform: translateX(-50%);
font-size: 40px;color: #fff;text-align: center;}

.slide_arr>a{z-index: 10;position: absolute; top: 50%; transform: translateY(-50%);width: 30px;height: 57px;
background: url(../images/slide_arr_btn.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden; }
a.btn_prev{left: 30px;}
a.btn_next{right: 30px;background-position: -30px 0;}

.slide_roll{z-index: 10;position: absolute;left: 50%;transform: translateX(-50%);bottom: 30px;}
.slide_roll>ul{float: left;}
.slide_roll>ul>li{float: left;padding: 0 5px;}
.slide_roll>ul>li>a{display: block;width: 10px;height: 10px;border-radius: 50%;background: #ccc;text-indent: -9999px;overflow: hidden;}
.slide_roll>ul>li.on>a{background: #fff;}

.slide_roll>a.btn_play{float: left;width: 9px;height: 9px;margin-left: 5px;background: url(../images/slide_btn1.png) no-repeat 0 0; text-indent: -9999px;overflow: hidden;}
.slide_roll>a.btn_play.on{background-position: -9px 0;}

/* container */
/* content1 */
.content1>h2{text-align: center; font-size: 36px; font-weight: 600; margin-bottom: 50px;}
.content1>ul{width: 1142px; display: flex; margin: 0 auto; transform: translate(-25px);}
.content1>ul>li{background: #fff; border-bottom: 2px solid transparent; transition: all .3s ease-in-out;}
.content1>ul>li:hover{box-shadow: 10px 10px 30px -10px #5d679f; border-color: #1428a0;}
.content1>ul>li:not(:last-of-type){margin-right: 50px;}
.content1>ul>li>a{display: block;}
.content1>ul>li>a>img{width: 360px; height: 203px;}

.content1>ul>li>a>.content1_content{margin-top: 10px;}
.content1_content>p{padding: 10px;}
.content1_content>p>span{font-size: 18px;}
.content1_content>p>span:first-of-type{color: #1428a0;}
.content1_content>p>span:nth-of-type(2){margin: 0 8px; font-weight: 600; color: #999;}
.content1_content>p>span:last-of-type{color: #999; letter-spacing: -0.5px;}
.content1_content>h3{padding: 0 10px; margin-top: 8px; font-size: 25px; letter-spacing: -0.5px; font-weight: 550;}

.content1>.newsletter{position: relative; width: 1142px; margin: 0 auto; margin-top: 100px; padding: 40px;
  background: #f4f6fb url(../images/newsletter_bg.jpg) no-repeat 10px 40px; }
.newsletter>h2{font-size: 36px; font-weight: 600; margin-left: 150px; margin-bottom: 20px;}
.newsletter>span{margin-left: 150px; font-size: 16px;}
.newsletter>a{position: absolute; right: 350px; bottom: 35px; display: block; background: #fff; font-size: 16px; padding: 10px 20px;}
.newsletter>a:last-of-type{right: 180px;}

/* content2 */
.content2>span{position: absolute; left: 250px; top: 80px; font-weight: 400; font-size: 35px; color: rgba(255,255,255,.5);}
.content2>h2{position: absolute; left: 250px; top: 100px; font-size: 70px; color: rgba(255,255,255,.8);}
.content2>p{position: absolute; right: 650px; top: 120px; font-size: 20px; width: 420px; color: rgba(255,255,255,.8); font-weight: 400;}
.content2>p::after{content: ""; position: absolute; left: -280px; width: 250px; height: 2px; background-color: rgba(255,255,255,.5);}
.content2>img{position: absolute; right: 0; top: 0;}

/* content3 */
.content3>h2{font-size: 36px; font-weight: 600; text-align: center;}
.content3>form{position: relative; width: 30%; margin: 50px auto;}
.content3>form>input{width: 100%; height: 50px; border: none;}
.content3>form>input::placeholder{font-size: 18px; text-indent: 30px;}
.content3>form>label{display: block; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 30px; height: 30px; background: url(../images/ico_search.png) no-repeat 0 0; text-indent: -9999px; overflow: hidden;}

.content3>.product_list{width: 1142px; margin: 0 auto; border-top: 1px solid #ccc; padding-bottom: 200px;}
.product_list>ul{margin-top: 40px;}

.product_list>.list1{display: flex; justify-content: center; transform: translateX(15px);}
.product_list>.list1>li>a{position: relative; display: block; width: 550px; height: 100px; background-color: #fff; margin-right: 30px; padding: 20px; box-sizing: border-box; border-radius: 0 20px 20px 20px;}
.product_list>.list1>li>a::after{content: ""; position: absolute; left: 20px; top: 0; width: 20px; height: 3px; background-color: #1428a0;}
.list1>li>a>h3{font-weight: 600; font-size: 25px;}
.list1>li>a>span{font-size: 16px;}
.list1>li>a>img{position: absolute; right: 30px; bottom: 30px;}

.product_list>.list2{width: 1142px; margin-top: 100px;}
.product_list>.list2>li{display: flex; cursor: pointer;}
.product_list>.list2>li:hover .list2_img{background-size: 120%;}
.list2 .list2_img{width: 600px; height: 350px; transition: all .3s ease;}
.list2 .list2_content{width: 600px; height: 350px; padding: 60px 50px; box-sizing: border-box;}

.list2_content h4{font-size: 30px; font-weight: 600; margin-top: 30px;}
.list2_content span{font-size: 18px;}
.list2_content .more{display: block; width: 150px; font-size: 18px; padding: 10px 20px; margin-top: 40px;
  background: #fff url(../images/ico_prd_arr.png) no-repeat 90% 50%; transition: all .3s ease;}
  .product_list>.list2>li:hover .more{background: #1428a0 url(../images/ico_prd_arr_on.png) no-repeat 90% 50%; color: #fff;}

/* content4 */
.content4>.company1{position: relative; width: 50%; height: 850px; display: flex; flex-direction: column; justify-content: center; align-items: center;
  background: url(../images/img_company01.jpg) no-repeat center/cover; transition: all .3s ease;}
.content4>.company1::after{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.1); transition: all .3s ease;}
.content4>.company2{position: relative; width: 50%; height: 850px; display: flex; flex-direction: column; justify-content: center; align-items: center;
  background: url(../images/img_company02.jpg) no-repeat center/cover; transition: all .3s ease;}
.content4>.company2::after{content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.1); transition: all .3s ease;}
.content4>div:hover::after{background: rgba(0,0,0,0.4);}

.content4 img{z-index: 10;}
.content4 dl{z-index: 10; color: #fff;}
.content4 dl>dt{font-size: 30px; font-weight: 600; text-align: center; margin: 30px 0;}
.content4 dl>dd{font-size: 18px; color: #ddd; text-align: center; line-height: 2;}

/* sitemap */
.sitemap>ul{width: 1142px;margin: 0 auto;padding: 60px 0 120px;}
.sitemap>ul:after{content:'';display:block;clear:both;}
.sitemap>ul>li{float:left;margin-right: 165px;line-height: 40px;}
.sitemap>ul>li:last-child{margin-right: 0;}
.sitemap>ul>li>a{color: #333;font-size: 18px;font-weight: bold;}


/* top */
a.btn_sem{position: fixed; bottom: 100px; right: 80px; width: 64px; height: 64px; visibility: hidden; cursor: pointer;
  background: url(../images/ico_museum.png) no-repeat 0 0;}
a.btn_sem.on{visibility: visible;}
a.btn_sem.ab{position: absolute; top: -150px; right: 80px;}

a.btn_top{position: fixed; bottom: 30px; right: 80px; width: 60px; height: 60px; border: 1px solid #aaa;
  background: #fff url(../images/top_btn_ico.png) no-repeat 50% 20%; border-radius: 50%; visibility: hidden;
  font-size: 13px; color: #333; text-align: center; line-height: 80px; cursor: pointer;}
a.btn_top.on{visibility: visible;}
a.btn_top.ab{position: absolute; top: -80px; right: 80px;}